{% extends 'navbar.html' %}
{% block content %}
{% load static %}

<style>
    body{
        /* background-color:  white; */
        background-color: rgba(30, 255, 229, 0.2);
        
    }
    
    .row{
        margin: 0;
    }
    
    
    .vertical-text {
    font-family: 'Times New Roman', Times, serif; /* Set font family */
    }

    .vertical-text h5 {
        display: flex; /* Use flexbox to arrange letters */
        flex-direction: column; /* Arrange letters in a column */
        white-space: nowrap; /* Prevent wrapping */
    }

    .vertical-text span {
        writing-mode: vertical-rl; /* Set writing mode to vertical */
        transform: rotate(270deg);
        margin: 5px 0px;
        
    }

    /* #Connect a:hover{
        background-color: aquamarine;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding: 10% 75% 10% 10%;
        position: relative;
        left: -30px;
    } */

    #Connect a:hover i{
        color: rgba(128, 128, 128, 0.667);
    }
    #Connect2 a:hover i{
        color: rgba(128, 128, 128, 0.667);
    }
    .btn:hover{
        box-shadow: 1px 8px 16px black;
        position: relative;
        top: -3px;
        
    }
    #footer{
        background-color: rgba(0, 0, 0, 0.9);
        border-top: 2px solid rgba(127, 255, 212, 0.5);
        color: aliceblue;
    }


   /* .skill{
    width: 160px;
    height: 160px;
    background-color: cornflowerblue;
    position: relative;
   } */
   .outer{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 14px -8px black, 6px 6px 14px -8px white;
    padding: 19px;
   }
   .inner{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 6px 6px 9px -7px black,inset -6px -6px 9px -7px white;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   #number{
    font-weight: 600;
   }
   #circle1{
    fill: none;
    stroke: rgb(26, 200, 212);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 1s linear forwards;
    
   }
   @keyframes anim{
    100%{
        stroke-dashoffset: 165;
    }
   }

   #circle2{
    fill: none;
    stroke: rgb(26, 200, 212);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim2 1s linear forwards;
   }
   @keyframes anim2{
    100%{
        stroke-dashoffset: 94;
    }
   }
   #circle3{
    fill: none;
    stroke: rgb(26, 200, 212);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim3 1s linear forwards;
   }
   @keyframes anim3{
    100%{
        stroke-dashoffset: 255;
    }
   }

   svg{
    position: relative;
    top: -160px;
   }
   

   @media (max-width: 768px) {
    #pro2{
        margin-top: 150px;
    }
    #pro3{
        margin-top: -220px;
    }
    #pro1{
        margin-top: -70px;
    }
    #proRow{
        margin-bottom: -200px;
    }
    #BottomDiv{
        border-top-left-radius: 250px;
        border-top-right-radius: 250px;
        margin-top: 30px;
    }    
    #upperDiv{
        border-bottom-left-radius:250px;
        border-bottom-right-radius:250px;
    } 
    #Connect2{
        display: none;
    }  
    #Connect{
        display: block;
    }
    }



    @media(min-width : 768px){
    #proRow{
        max-height: 350px;
    }
    #BottomDiv{
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        
    }
    #upperDiv{
        border-bottom-left-radius:50%;
        border-bottom-right-radius:50%;
    }
    #pro1{
        margin-right: -180px;
        
    }
    #pro3{
        margin-left: -180px;
    }
    #Connect{
        display: none;
    }
    #Connect2{
        display: block;
    }
    
    }

    .featureCard{
        border-radius: 10px;
        box-shadow: 1px 3px 4px 2px rgb(23, 200, 240);
        background-color: rgb(188, 248, 241);
        
    }

    
    
    
</style>

<div class="py-5" id="upperDiv" style="background-color: rgba(77, 247, 190, 0.5);box-shadow: 0px 2px 9px 1px rgba(128, 128, 128, 0.553)">
    <div>
        <center>
            <h1 class="mt-5 display-4 " style="font-weight: 400;" >Crafting Expiriences, </h1>
            <h2 class="mb-3 display-4">Building Relationships.</h2>
            <p class="mb-4">Logo solutions are designed to elevate your business by seamlessly integrating <br> customer data, streamlining process, and enhacing overall engagement. </p>
            <button class="btn mb-5 py-2 px-4" style="background-color:rgb(8, 160, 145) ;color: white;text-shadow: 1px 1px black;">Start Today</button>
        </center>
    </div>
</div>

<div class="row py-5 mx-5 " id="proRow" style="display: flex;flex-wrap: wrap;gap: 20px;justify-content: space-around;">
    <div class="col-md-1"></div>
    <div class="col-md pt-3" id="pro1" >        
        <center style="height: 20px;">
            <h6 class="mt-5 mb-2" style="color: gray;">Customers</h6>
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <div id="number">65%</div>
                    </div>
                </div>
            </div>    
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle id="circle1" cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg>             
        </center>
    </div>

    <div class="col-md pt-3" id="pro2" >
        <center>
            <h6 class="mt-2 mb-2" style="color: gray;">Revenue</h6>
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <div id="number">80%</div>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle id="circle2" cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg>             
        </center>        
    </div>

    <div class="col-md pt-3" id="pro3" >
        <center>
            <h6 class="mt-5 mb-2" style="color: gray;">Orders</h6>
            <div class="skill" >
                <div class="outer">
                    <div class="inner">
                        <div id="number">45%</div>
                    </div>
                </div>
            </div>    
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                <defs>
                   <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#e91e63" />
                      <stop offset="100%" stop-color="#673ab7" />
                   </linearGradient>
                </defs>
                <circle id="circle3" cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg> 
        </center>
    </div>
    <div class="col-md-1 " id="Connect2">
        <div id="connectHead2" class="vertical-text">
            <h5>
                <span>C</span>
                <span>O</span>
                <span>N</span>
                <span>N</span>
                <span>E</span>
                <span>C</span>
                <span>T</span>
            </h5>
        </div>
        <div class="mt-5 ml-4"><a style="color: black;" href=""><i class="fa-brands fa-facebook fa-2xl"></i></a></div>
        <div class="mt-5 ml-4"><a style="color: black;" href=""><i class="fa-brands fa-whatsapp fa-2xl"></i></a></div>
        <div class="mt-5 ml-4"><a style="color: black;" href=""><i class="fa-brands fa-twitter fa-2xl"></i></a></div>
        <div class="mt-5 ml-4"><a style="color: black;" href=""><i class="fa-brands fa-instagram fa-2xl"></i></a></div>
</div>
    
</div>


    <!-- jumbotron -->
    <div class="row mb-5 mt-4 ml-md-3">
        <div class="col-md-2"></div>
        <div class="col-md-3"><img src="{% static 'images/Boost.png' %}" alt="" style="height: 15rem;width: 20rem;"></div>
        <div class="col">
           <h1 class="display-4 mt-5">Boost Your Business.</h1>
          <p class="lead">With our efficient and organised ways, manage your business easily.</p>
        </div>
    </div>


<!-- bottom curved div start-->
<div class="py-5" id="BottomDiv" style="min-height: 30vh;background-color: rgba(77, 247, 190, 0.5);box-shadow: 0px -4px 9px -1px rgba(128, 128, 128, 0.553)">
    <br><br>

<!-- buttons -->
<div class="row d-flex my-5" >
    <div class="col-md-3"></div>
    <div class="col-md-6" style="justify-content: center;display: flex;"><button class="btn mx-1 px-5 py-3" style="background-color:rgb(8, 160, 145) ;color: white;text-shadow: 1px 1px black;border-radius: 5px;">Get Started</button> <button class="btn mx-1 px-5" style="background-color:rgb(8, 160, 145) ;color: white;text-shadow: 1px 1px black;border-radius: 5px;">Register</button></div>
    <div class="col-md-3"></div>
</div>
<br>

<!-- feature jumbotron -->
<div class="row">
    
    <div class="col-md-1"></div>
    <div class="col">
       <h1 class="display-4 ml-3 mb-5">Features that you desire.</h1>
       
       <div class="row mb-3">
        <div class="col-sm-6 mb-3 ">
          <div class="card featureCard">
            <div class="card-body">
              <h5 class="card-title">Enable Automation</h5>
              <p class="card-text">Automate lead creation, team assignment, scheduled activities, and focus on what really matters.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6 ">
          <div class="card featureCard">
            <div class="card-body">
              <h5 class="card-title">AI lead scoring</h5>
              <p class="card-text">Too many leads? Our AI scores leads to ensure you always work on the right priorities.</p>
              
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-3 ">
          <div class="card featureCard">
            <div class="card-body">
              <h5 class="card-title">Manage leads</h5>
              <p class="card-text">Create, acquire, import, nurture, score, etc. Manage all aspects of your leads in a single place.</p>
              
            </div>
          </div>
        </div>
        <div class="col-sm-6 ">
          <div class="card featureCard">
            <div class="card-body">
              <h5 class="card-title">Reduce manual entry</h5>
              <p class="card-text">Send quotes in just a few clicks, manage your pipeline by drag-and-dropping, and more.</p>
              
            </div>
          </div>
        </div>
      </div>      
      
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row my-5">
    <div class="col-md-1"></div>
    <div class="col-1"></div>
    <div class="col"><img height="100" src="{% static 'images/s1.png' %}" alt=""> <h6>Sales</h6></div>
    <div class="col"><img height="100" src="{% static 'images/s2.png' %}" alt=""> <h6>Subscrptions</h6></div>
    <div class="col-md-1"></div>
    <div class="col-1"></div>
    <div class="col"><img height="100" src="{% static 'images/s3.png' %}" alt=""> <h6>Email Marketing</h6></div>
    <div class="col"><img height="100" src="{% static 'images/s4.png' %}" alt=""> <h6>Events</h6></div>
    <div class="col-md"></div>
</div>

<!-- cards -->
<div class="row my-3" >
<div class="col-md-2"></div>
<div class=" col-md-8 justify-content-center  py-5" style="display: flex;flex-wrap: wrap;gap: 20px;justify-content: start;">
    

    
</div>
<div class="col-md-1"></div>

<div class="col-md-1 " id="Connect">
        <div id="connectHead" >
            <h5>
                <span>C</span>
                <span>O</span>
                <span>N</span>
                <span>N</span>
                <span>E</span>
                <span>C</span>
                <span>T</span>
            </h5>
        </div>
        <div class="mt-5 ml-4"><a style="color: black;" href=""><i class="fa-brands fa-facebook fa-2xl"></i></a></div>
        <div class="mt-5 ml-4"><a style="color: black;" href=""><i class="fa-brands fa-whatsapp fa-2xl"></i></a></div>
        <div class="mt-5 ml-4"><a style="color: black;" href=""><i class="fa-brands fa-twitter fa-2xl"></i></a></div>
        <div class="mt-5 ml-4"><a style="color: black;" href=""><i class="fa-brands fa-instagram fa-2xl"></i></a></div>
</div>
</div>

<!-- connect section -->
<!-- <div class="container my-5">
<center><h2 class="my-5">Connect With Us.</h2></center>

    <div class="mb-5" style="display: flex;justify-content: space-evenly;">
        <div style="letter-spacing: 1cap;font-weight: 500;" >CONNECT</div>
        <div class=""><a style="color: black;" href=""><i class="fa-brands fa-facebook fa-2xl"></i></a></div>
        <div class=""><a style="color: black;" href=""><i class="fa-brands fa-whatsapp fa-2xl"></i></a></div>
        <div class=""><a style="color: black;" href=""><i class="fa-brands fa-twitter fa-2xl"></i></a></div>
        <div class=""><a style="color: black;" href=""><i class="fa-brands fa-instagram fa-2xl"></i></a></div> 
    </div>
</div> -->

</div>
<!-- bottom curved div end -->

<!-- footer -->
<div class="row" id="footer">
    <div class="col-md-1"></div>
    <div class="col mt-3">
        <h6 class="pb-2 " style="border-bottom: 1px solid white;width: 50%;">NAVIGATION</h6>
        <p>Community</p>
        <p>Tutorials</p>
        <p>Documentations</p>
        <p>Forum</p>
        <p>Open Source</p>
    </div>
    <div class="col"></div>
    <div class="col mt-3">
        <h6 class="pb-2 "  style="border-bottom: 1px solid white;width: 50%;">SERVICE</h6>
        <p>Services</p>
        <p>Hosting</p>
        <p>Support</p>
        <p>Upgrade</p>
    </div>
    <div class="col"></div>
    <div class="col mt-3">
        <h6 class="pb-2 "  style="border-bottom: 1px solid white;width: 50%;">ABOUT US</h6>
        <p>About Us</p>
        <p>Our Company</p>
        <p>Assets</p>
        <p>Events</p>    
    </div>
    <div class="col"></div>
    <div class="col mt-3">
        <h6 class="pb-2 "  style="border-bottom: 1px solid white;width: 50%;">CONNECT WITH US</h6>
        <p>Email</p>
        <p>Phone</p>
        <p>Sms</p>
        <p>Whatsapp</p>
        <p>Facebook</p>
    </div>
    <div class="col-md-1"></div>
</div>


<script>
    // Function to add or remove vertical-text class based on screen size
    document.addEventListener("DOMContentLoaded", function() {
        function toggleVerticalTextClass() {
        var textContainer = document.getElementById("connectHead");
        console.log('working')
        if (window.innerWidth > 578) {
            console.log('2working')
            textContainer.classList.add("vertical-text"); 
        } else {
            console.log('3working')
            textContainer.classList.remove("vertical-text"); 
        }
    }

        toggleVerticalTextClass();
   
    window.addEventListener("resize", toggleVerticalTextClass);

    
});

   
    
</script>


{% endblock %}